header{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px 0; 
    background-color: #030303; 
    color: #fff; 
    border-bottom: 5px solid #FFD700;
    cursor:auto}

.logo{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    cursor: pointer;}

#letras_header{text-decoration: none; 
    color: transparent; 
    background: linear-gradient(to right, #6A0DAD, #ffffff); 
    -webkit-background-clip: text; 
    background-clip: text; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor:pointer;}
#boton_a{color: #711484; border-color: #6A0DAD;}
#boton_a:hover{background-color: #6A0DAD;color: white;}

aside{

    width: 200px;
    height: 1000px;
    padding: 20px; 
    background: linear-gradient(to bottom, #000000, #7e107a); 
    color: #fff;
    float: left; 
    
}

.sidebar { 
    width: 200px; height: 100vh; 
    background: linear-gradient(to bottom, #000000, #42093f); 
    padding: 20px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
} 
    
.sidebar-list .nav-link { 
    color: #fff;
    font-size: 18px; 
    padding: 10px 15px; 
    border-radius: 2px; transition:cubic-bezier() 
    background-color 0.3s ease, color 0.3s ease; 
} 

.sidebar-list .nav-link:hover { 
    background-color: #ffffff;
    color: #000000;
}

#logo_aside{
    margin-top: 30px;
    padding-top: 30px;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 15px;
    clear: both;
    text-align: center;   
    background-color: #FFD700;  
    font-size:xx-small;  
  }